body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:darkcyan;
    color: white;
}

/* Global */

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

button{
    background-color:gray;
    color:white;
}

section{
    padding: 20px;
}
a{
    color:white;
}

/* Header **/

header{
    padding-top:30px;
    min-height:70px;
    border-bottom:aqua;
    width: 100%;
    background-image: linear-gradient(darkcyan, rgba(255,255,255,0.10));
}

header img{
    width: 40px;
}

header a{
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
    display: inline;
}

header nav{
    float:right;
    margin-top:10px;
}

header .current a{
    color:aqua;
    font-weight:bold;
}

header a:hover, a:visited{
    color:white;
    font-weight:bold;
}


.signupBtn{
    padding: 2px 10px;
    border: 0;
    cursor: pointer;
}

#showcase{
    min-height:600px;
    background:url('./images/ishull.jpg') no-repeat center fixed;
    text-align:center;
    background-size: cover;
    border-bottom:aqua 3px solid;
}

#showcase h1{
    margin-top:300px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}

/* Boxes */
#boxes{
    min-height: 300px;
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;

}

#boxes .box img{
    width:150px;
    height: 100px;
}

.container h1{
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
}

/* footer */

footer{
    padding:20px;
    margin-top:20px;
    text-align: center;
    border-bottom:aqua 1px solid;
    background-image: linear-gradient(rgba(255,255,255,0.10), darkcyan);
}

.icons{
    margin: 15px 23px;
    display: inline;
    padding: 8px;
    cursor: pointer;
}

.icons a{
    color: aqua;
    padding: 30px;
    font-size: 30px;
}

.icons a:hover{
    color: white;
}



/*about css*/

.importantinfo {
    padding: 15px;
    background: cadetblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#photo {
    float:left;
    width:50%;

}
aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

/*roster css*/


#newsletter {
    padding: 15px;
    color: #ffffff;
    background: cadetblue;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.rosterphoto {
    min-height: 500px;
    display: flex;
    margin: 70px auto 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rosterphoto .infobox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.rosterphoto .infobox .img-infobox {
    position: relative;
    overflow: hidden;
}

.rosterphoto .infobox .img-infobox img {
    max-width: 100%;
    transition: transform 1s;
    opacity: 1;
    border-radius: 50px;
}

.rosterphoto .infobox:hover .img-infobox img {
    transform: scale(1.2);
    opacity: 0.5;
}

.rosterphoto .infobox .textt {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    transform: scale(0);
    transition: transform .5s;
}

.rosterphoto .infobox:hover .textt {
    transform: scale(1);
}

.rosterphoto .infobox .textt .content {

    top: 20%;
    text-align: center;
    padding: 15px;;
    color: white;
}

.rosterphoto p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}


#boxes {
    min-height: 300px;
    margin-top: 20px;

}

.rosterphoto {
    min-height: 500px;
    display: flex;
    margin: 70px auto 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rosterphoto .infobox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.rosterphoto .infobox .img-infobox {
    position: relative;
    overflow: hidden;
}

.rosterphoto .infobox .img-infobox img {
    max-width: 100%;
    transition: transform 1s;
    opacity: 1;
    border-radius: 50px;
}

.rosterphoto .infobox:hover .img-infobox img {
    transform: scale(1.2);
    opacity: 0.5;
}

.rosterphoto .infobox .textt {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    transform: scale(0);
    transition: transform .5s;
}

.rosterphoto .infobox:hover .textt {
    transform: scale(1);
}

.rosterphoto .infobox .textt .content {

    top: 20%;
    text-align: center;
    padding: 15px;;
    color: white;
}

.rosterphoto p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.explore a {
    text-decoration: none;
}

.explore {
    background-color: darkcyan;
    border: white solid 1px;
    width: 80px;
    height: 30px;
    border-radius: 50px;
}

.explore:hover {
    background-color: rgba(0, 139, 139, 0.5);
    transition: 0.5s;
}


