
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#maldives-background {
    background-image: linear-gradient(rgba(0, 139, 139, 0.00), rgba(0, 139, 139, 0.20), rgba(0, 139, 139, 1)), url("../images/maldives-background.jpg");
    background-origin: border-box ;
    background-attachment: fixed;
    min-height: 650px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.background-image-text {
    position: absolute;
    top: 30%;
    left: 10%;
}

.background-image-text h1 {
    font-size: 60px;
    font-family: 'ZCOOL KuaiLe', cursive;
    color: darkcyan;
    text-shadow: 2px 2px 2px black;
}

.background-image-text p {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px black;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 20px;
}

.flex-container .maldives-text {
    width: 75%;
    margin-left: 25px;
    text-align: left;
    line-height: 25px;
    margin-right: 25px;
}

.flex-container .maldives-table-div {
    width: 400px;
    margin-right: 10px;
}


.flex-container .maldives-table-div .maldives-table {
    width: 100%;
    margin: 10px;
    text-align: center;
}


.maldives-table {
    border-collapse: collapse;
    background-color: cadetblue;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.maldives-table td, th {
    border-bottom: solid 5px transparent;
    text-align: left;
    margin: 10px;
    padding: 12px;
}

.maldives-table th {
    color: #081C15;
}

.maldives-table img {
    width: 100%;
}

.maldives-table-div .maldives-table th h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
}

.maldives-table td:hover, th:hover, tr:hover {
    background-color: darkcyan;
}

div #text {
    float: right;
    width: 100%;
    margin-top: 10px;
    position: static;
}

#text ol li {
    background-color: cadetblue;
    margin: 5px;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(cadetblue, darkcyan);
}

#text ol a {
    text-decoration: none;
}

#text ol li a:hover, #text ol li:hover {
    font-size: 20px;
    color: aqua;
    background-image: linear-gradient(to right, cadetblue, darkcyan);
    text-transform: uppercase;
}

.maldives-explore h4 {
    color: #081C15;
    text-align: center;
    font-size: 30px;
    font-family: 'ZCOOL KuaiLe', cursive;
    clear: both;
}

.maldives-explore h6 {
    color: #081C15;
    text-align: center;
    font-size: 20px;
    font-family: 'ZCOOL KuaiLe', cursive;
    clear: both;
}

.maldives-explore img {
    width: 400px;
    float: right;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.maldives-explore img:hover {
    width: 400px;
    float: right;
    margin: 10px;
    transform: scale(1.1);
    transition: .5s;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.maldives-explore p {
    clear: both;
}

.maldives-explore h5 {
    color: #081C15;
    text-align: center;
    font-size: 25px;
    font-family: 'ZCOOL KuaiLe', cursive;
    clear: both;
}

.maldives-explore ul li {
    list-style-type: square;
}

.maldives-climate-table {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.maldives-climate-table td, .maldives-climate-table th {
    border: solid 3px transparent;
    padding: 2px;
}

.maldives-climate-table td {
    text-align: center;
}

.maldives-climate-table th {
    background-image: linear-gradient(gray, rgba(0, 0, 0, 0.3));
}

.first-row td {
    background-image: linear-gradient(orangered, rgba(0, 0, 0, 0.3));
}

.second-row td {
    background-image: linear-gradient(orangered, rgba(0, 0, 0, 0.3));
}

.third-row td {
    background-image: linear-gradient(#f85d1e, rgba(0, 0, 0, 0.3));
}

.fourth-row td {
    background-image: linear-gradient(seagreen, rgba(0, 0, 0, 0.3));
}

.fifth-row td {
    background-image: linear-gradient(cornflowerblue, rgba(0, 0, 0, 0.3));
}

.sixth-row td {
    background-image: linear-gradient(#b7b70d, rgba(0, 0, 0, 0.3));
}

.maldives-explore span{
    font-weight: bold;
}

.maldives-demographics-table{
    text-align: left;
    border-collapse: collapse;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.flex-container-2{
    display: flex;
    width: 90%;
}

.flex-container-2-lists{
    width: 50%;
}

.flex-container-2-table{
    width: 50%;
}


.maldives-demographics-table th,.maldives-demographics-table td{
    padding: 10px;
    border: 1px black solid;
}

.maldives-demographics-table th{
    background-color: cadetblue;
    color: #081C15;
}

.maldives-demographics-table-2{
    border-collapse: collapse;
    margin: 20px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.maldives-demographics-table-2 th{
    color: #081C15;
}

.maldives-demographics-table-2 td, .maldives-demographics-table-2 th{
    padding: 20px 50px;
    margin: 30px;
    width: 100px;
}

.maldives-demographics-table-2 tr:nth-child(even) {
    background-color: cadetblue;
}

.maldives-demographics-table-2 tr:hover{
    transform: scale(1.1);
}

.maldives-demographics-table-2 caption{
    font-size: 20px;
    margin: 10px;
}
